<div class="col-md-12">
    <nb-card>
        <nb-card-header class="form-builder-header"><h1>Comodo</h1> <button onclick="javascript:history.back()" type="button" class="btn btn-danger">Voltar</button></nb-card-header>
        <nb-card-body>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" #addMountForm="ngForm">
                <div class="form-group">
                    <label for="name">Nome<span>*</span></label>
                    <input type="text" id="name" class="form-control full-width" name="name" formControlName="name" [ngModel]="comodoDispositivos?.nome">

                </div>
                <div formArrayName="comodoContent">
                    <div *ngFor="let content of formData.controls; let i=index" class="form-control margin-bottom" style="height: auto;">
                        <div>
                            <span>Dispositivo</span>
                            <span *ngIf="form.controls.comodoContent.controls.length > 1" (click)="removeComodoContent(i)">
                                <button class="btn btn-danger ion-close-round padding"></button>
                            </span>
                            <br /><br />
                        </div>
                        <div [formGroupName]="i" class="row" style="padding: 1rem">
                            <label for="nome" id="nomeLabel">Nome<span>*</span></label>
                            <input type=text id="nome" class="form-control full-width" name="nome" formControlName="nome">

                            <label for="tipo" id="tipoLabel">tipo<span>*</span></label>
                            <input type=text id="tipo" class="form-control full-width" name="tipo" formControlName="tipo">

                            <nb-checkbox name="status" formControlName="status" status="success">Ativo</nb-checkbox>
                        </div>
                    </div>
                </div>
                <button (click)="addComodoContent()" type="button" class="btn btn-success">Adicionar mais um dispositivo</button>

                <button type="submit" class="btn btn-success">Salvar</button>
                <button onclick="javascript:history.back()" type="button" class="btn btn-danger">Voltar</button>
            </form>
        </nb-card-body>
    </nb-card>
</div>